name: Compilar NigType-OS

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Instalar Compiladores
        run: |
          sudo apt-get update
          sudo apt-get install -y nasm gcc g++ binutils

      - name: Compilar Tudo
        run: |
          # 1. Traz tudo para a raiz para evitar erro de pasta
          cp kernel/*.c .
          cp kernel/*.cpp .
          cp include/*.h .
          cp include/*.hpp .
          
          # 2. Compila o Assembly
          nasm -f elf32 boot.asm -o boot.o
          
          # 3. Compila C (Agora sem caminho de pasta, direto no arquivo)
          gcc -m32 -c system.c -I. -o system.o
          gcc -m32 -c idt.c -I. -o idt.o
          gcc -m32 -c bootlog.c -I. -o bootlog.o
          
          # 4. Compilar C++
          g++ -m32 -c main.cpp -I. -o main.o
          g++ -m32 -c kernel_core.cpp -I. -o kernel_core.o
          
          # 5. O Linker (Junta tudo)
          ld -m elf_i386 -Ttext 0x100000 boot.o system.o idt.o bootlog.o main.o kernel_core.o -o nigtype.bin
