name: Compilar NigType-OS

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Instalar Compiladores
        run: |
          sudo apt-get update
          sudo apt-get install -y nasm gcc g++ binutils

      - name: Compilar Tudo
        run: |
          # Compilando o Boot
          nasm -f elf32 boot.asm -o boot.o
          
          # Compilando os arquivos C (O -Iinclude ajuda a achar o nigtype.h)
          gcc -m32 -c kernel/system.c -Iinclude -o system.o
          gcc -m32 -c kernel/idt.c -Iinclude -o idt.o
          gcc -m32 -c kernel/bootlog.c -Iinclude -o bootlog.o
          
          # Compilando o Core (Suas 8 linhas de código)
          g++ -m32 -c kernel/kernel_core.cpp -Iinclude -o kernel_core.o
          
          # Compilando o Main (A tela de instalação)
          g++ -m32 -c kernel/main.cpp -Iinclude -o main.o
          
          # Linker final
          ld -m elf_i386 -Ttext 0x100000 boot.o system.o idt.o bootlog.o main.o kernel_core.o -o nigtype.bin

      - name: Upload do Kernel
        uses: actions/upload-artifact@v4
        with:
          name: NigType-Kernel-Binario
          path: nigtype.bin
