name: Compilar NigType-OS

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Instalar Compiladores
        run: |
          sudo apt-get update
          sudo apt-get install -y nasm gcc g++ binutils

      - name: Compilar Tudo
        run: |
          # 1. Compila o Assembly (agora como elf32 para aceitar símbolos)
          nasm -f elf32 boot.asm -o boot.o
          
          # 2. Compila os arquivos C e C++ da pasta kernel
          gcc -m32 -c kernel/system.c -o system.o
          gcc -m32 -c kernel/idt.c -o idt.o
          gcc -m32 -c kernel/bootlog.c -o bootlog.o
          g++ -m32 -c kernel/main.cpp -o main.o
          g++ -m32 -c kernel/kernel_core.cpp -o kernel_core.o
          
          # 3. Junta tudo (Linking)
          # O -Ttext 0x100000 é o padrão para kernels Multiboot
          ld -m elf_i386 -Ttext 0x100000 boot.o system.o idt.o bootlog.o main.o kernel_core.o -o nigtype.bin

      - name: Upload do Resultado
        uses: actions/upload-artifact@v4
        with:
          name: NigType-OS-Binary
          path: nigtype.bin
