name: Compilar NigType-OS

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Instalar Compiladores
        run: |
          sudo apt-get update
          sudo apt-get install -y nasm gcc g++ binutils

      - name: Compilar Tudo
        run: |
          # 1. Assembly (ELF32 para aceitar os símbolos)
          nasm -f elf32 boot.asm -o boot.o
          
          # 2. Compilar C (O -I${{ github.workspace }}/include força o caminho real)
          gcc -m32 -c kernel/system.c -I${{ github.workspace }}/include -o system.o
          gcc -m32 -c kernel/idt.c -I${{ github.workspace }}/include -o idt.o
          gcc -m32 -c kernel/bootlog.c -I${{ github.workspace }}/include -o bootlog.o
          
          # 3. Compilar C++
          g++ -m32 -c kernel/main.cpp -I${{ github.workspace }}/include -o main.o
          g++ -m32 -c kernel/kernel_core.cpp -I${{ github.workspace }}/include -o kernel_core.o
          
          # 4. Linker
          ld -m elf_i386 -Ttext 0x100000 boot.o system.o idt.o bootlog.o main.o kernel_core.o -o nigtype.bin
